resources/cpu load.json
[{"id":"59ebefb3.b4c76","type":"inject","z":"d629259e.613838","name":"tick 15","topic":"tempC","payload":"","payloadType":"str","repeat":"15","crontab":"","once":false,"x":120,"y":540,"wires":[["50c3fa8e.2bc2e4"]]},{"id":"50c3fa8e.2bc2e4","type":"exec","z":"d629259e.613838","command":"uptime ","addpay":false,"append":"","useSpawn":"","timer":"","name":"read cpu uptime and load","x":170,"y":620,"wires":[["7fede23.dc5af1c"],[],[]]},{"id":"7fede23.dc5af1c","type":"function","z":"d629259e.613838","name":"format load","func":"\nmsg.payload = msg.payload.split(\"average\")[1].split(\" \")[1];\nmsg.payload = Number(msg.payload.replace(\",\",\"\"));\nmsg.payload = {cpuLoad:msg.payload}\nreturn msg;","outputs":"1","noerr":0,"x":390,"y":620,"wires":[["fdbde58b.174a28","e4e90c2a.47661"]]},{"id":"fdbde58b.174a28","type":"debug","z":"d629259e.613838","name":"","active":true,"console":"false","complete":"payload","x":470,"y":700,"wires":[]},{"id":"e4e90c2a.47661","type":"wiotp out","z":"d629259e.613838","authType":"d","qs":"true","qsDeviceId":"","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","name":"","x":450,"y":540,"wires":[]},{"id":"1f635990.061a96","type":"comment","z":"d629259e.613838","name":"Read cpu load (Linux, OSX and Pi)","info":"Reads the cpu load by parsing the result\nof the `uptime` command. Does not work on Windows.\n\nReads every 15 seconds, \nformats the data to tidy up the string and \nthen sends the data to the IBM Watson IOT platform\n\nAfter deploying the example, open the Watson IoT\nnode and click the link button\nto take you to the \nQuickstart dashboard for your flow.\n","x":180,"y":500,"wires":[]}]
