resources/Pi cpu temperature.json
[{"id":"2611e097.05e84","type":"inject","z":"ac4fb4ed.cb3898","name":"tick 15","topic":"tempC","payload":"","payloadType":"str","repeat":"15","crontab":"","once":false,"x":100,"y":120,"wires":[["7d806f8c.8c2ef"]]},{"id":"7d806f8c.8c2ef","type":"exec","z":"ac4fb4ed.cb3898","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"read cpu temperature","x":200,"y":200,"wires":[["ac98ab54.8c4a48"],[],[]]},{"id":"ac98ab54.8c4a48","type":"function","z":"ac4fb4ed.cb3898","name":"format temperature","func":"msg.payload = Number(msg.payload.slice(5,-3));\nmsg.payload = {cpuTempC:msg.payload}\nreturn msg;","outputs":"1","noerr":0,"x":350,"y":120,"wires":[["4d3911c6.dd232"]]},{"id":"4d3911c6.dd232","type":"wiotp out","z":"ac4fb4ed.cb3898","authType":"d","qs":"true","qsDeviceId":"","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","name":"","x":490,"y":200,"wires":[]},{"id":"7f8495c2.3d439c","type":"comment","z":"ac4fb4ed.cb3898","name":"Read Raspberry Pi cpu temperature","info":"Reads the Raspberry Pi cpu temperature every 15 seconds, \nformats the data to tidy up the string and \nthen sends the data to the IBM Watson IOT platform\n\nAfter deploying the example, open the Watson IoT\nnode and click the link button to take you to the \nQuickstartdashboard for your flow.\n","x":180,"y":60,"wires":[]}]
